<section class="section-addcate" ng-controller="List_ArticleCtrl as showCase">

  <div class="row">
    <div class="col-md-12">
                <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table datatable="ng" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th style="width: 20px">#</th>
                  <th>Tên bài báo</th>
                  <th>Danh mục</th>
                  <th>Hình ảnh</th>
                  <th>Nội dung</th>
                  <th style="width: 55px">Ngày tạo</th>
                  <th style="width: 10%">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key, art) in showCase.articleData">
                  <td>{{ key+1 }}</td>
                  <td>{{ art.title }}</td>
                  <td>{{ art.name }}</td>
                  <td><img style="width: 100px" ng-src="{{ BASEURL }}{{ art.image }}" alt=""></td>
                  <td>{{ art.brief_content }}</td>
                  <td>{{ art.created_date * 1000 | date:'dd-MM-yyyy'}}</td>
                  <td>
                    <!-- <button class="btn btn-danger btn-sm"><i class="fa fa-times"></i></button> -->
                    <button style="width: 36px" type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modal-{{key}}">
                      <i class="fa fa-times"></i>
                    </button>
                    <div class="modal modal-danger fade" id="modal-{{key}}">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">×</span></button>
                              <h4 class="modal-title">Xóa bài viết</h4>
                            </div>
                            <div class="modal-body">
                              <p><b>Bạn có muốn xóa:</b> {{ art.title }}</p>
                              <div class="text-center">
                                <img style="width: 300px" src="{{BASEURL}}{{art.image}}" alt="">
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Trở về</button>
                              <button ng-click="deleteArticle(art)" data-dismiss="modal"
                              type="button" class="btn btn-outline">Xóa</button>
                            </div>
                          </div>
                          <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                      </div>

                    <a ng-click="editArticle(art.id_article)" href="edit_article/{{art.id_article}}" style="width: 36px" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                    <button style="width: 36px" class="btn btn-success btn-sm"><i class="fa fa-comment"></i></button>
                    <button style="width: 36px" class="btn btn-primary btn-sm"><i class="fa fa-globe"></i></button>
                  </td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                  <th style="width: 40px">#</th>
                  <th>Tên bài báo</th>
                  <th style="width: 240px">Hình ảnh</th>
                  <th>Nội dung</th>
                  <th>Ngày tạo</th>
                  <th>Hành động</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
    </div>

  </section>
<script>
  $(function () {
    $('#example1').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>